.navbar-brand {
  img {
    width: $logo-width;
  }
}

// Add spacing to compensate fixed navbar
.move-down {
  margin-top: $nav-height;
}

// Move the navbar down when in admin mode
.move-down.admin-bar {
  nav.navbar.fixed-top {
    margin-top: $admin-nav-height;
    @media screen and ( max-width: 782px ) {
      margin-top: $mobile-admin-nav-height;
    }
  }
}
